{% extends "welcome/template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'market/css/store_front.css'%}" />
<meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block body %}

<div id="storefront" class="fc cent">
    <div id="theatre_main" class="fr">
    </div> <!-- end theatre_main -->
    <div id="amenities_main" class="fr">
        <div id="main_screen" class="fr">
            <div class="arrow_l">
            </div>
            <div class="product fc">
                <div class="prod_img">
                </div> <!-- end prod_img -->
                <div 
            </div>
            <div class="arrow_r">
            </div>
        </div> <!-- end main_screen-->
    </div> <!-- end amenities_main -->
    <div id="ai_main" class="fr">
    </div> <!-- end ai_main -->
    <div id="+_xp" class="fr">
    </div> <!-- end +_xp -->

</div> <!-- end storefront-->


{% endblock %}