
#good_message{
    margin-bottom:50px;
}

#good_message object{
    width:200px;
    height:200px;
}

#good_message button{
    opacity:1;
    background-color:transparent;
    border:2px solid #e3e3e3;
    border-radius:20px;
    width:120px;
    font-size:12px;
    height:30px;
    padding:2px 10px;
}

#good_message button:hover{
    border:2px solid black;
    color:white;
    font-weight:bold;
    background-color:black;
}