#send_email_form{
    height:100px;
    justify-content: space-evenly;
}

input[type=email]{
    border-radius:20px;
    background:none;
    outline:none;
    border:1px solid black;
    padding:2px 6px;
}

input[type=password]{
    width:60%;
    border:none;
    border-bottom: 1px solid black;
    padding:2px 6px;
    margin:15px 0px;
    outline:none;
}

input[type=submit],button{
    border-radius:20px;
    background:none;
    outline:none;
    border:1px solid black;
    padding:2px 20px;
}

input[type=submit]:hover,button:hover{
    background:black;
    color:white;
}

#process_done{
    margin:20px;
}

#process_done h4{
    margin:0px;
}

q:before, q:after {
    content: "";
    font-style:italic;
}

.movie_quote{
    margin-bottom:20px;
}

img{
    align-self:center;
    border-radius:6px;
    height:160px;
    width:108px;
    transition: width .4s, height .4s, transform .4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #latest_gallery{
      padding:20px;
      width:65%;
      overflow-x:scroll;
    }
      .lat_gal{
      padding:10px;
      display:grid;
      align-content:center;
      align-items:center;
      opacity:.9;
    }
    
    .lat_gal:hover{
      opacity:1;
      filter: brightness(100%);
    }

    #email_sent{
        padding:20px;
    }
#set_new_pass{
    border-radius:20px;
    padding:20px;
    margin:20px;
    border:1px solid #e5e5e5;
}

#set_new_pass form br{
    display:none;
}

#set_new_pass .helptext{
    font-size:12px;
    font-weight:normal;
    margin-top:-10px;
}

#set_new_pass input[type=submit]{
    margin-top:40px;
    content: "aaaaa";
}

@media screen and (max-width: 900px) {
    #latest_gallery{
        max-height:fit-content;
        flex-wrap:wrap;
        width:85%;
        align-self:center;
        align-items:center;
        justify-content: space-evenly;
      }
    .lat_gal{
        padding:10px;
      }
    .lat_gal img{
        height:130px;
        width:79px;
        margin-left:auto;
        margin-right:auto;
      }
}