#new_film_wrapper{
    width:90%;
    overflow:hidden
}

fieldset,.form-control{
    border-radius:20px;
    margin-bottom:40px;
    border:none;
    width:90%;
    max-width:90%;
    align-items:center;
    border:2px solid #e5e5e5;
}

h2{
    text-align:center;
}

fieldset div{
    margin-bottom:12px;    
}

 input{
    margin:10px 0px;
    border-radius:10px;
    padding:5px 10px;
    border: 1px solid #e5e5e5;
    outline:none;
    background-color:white;
    width:60%;
}

textarea{
    margin:10px 0px;
    border-radius:10px;
    padding:5px 10px;
    border: 1px solid #e5e5e5;
}

input:focus{
    border: 1px solid black;
}

option:checked{
    background: black;
    font-weight:bold;
    color:white;
}


small{
    display:block;
    align-self:flex-end;
    flex-wrap:wrap;
    color:#f98c8c;
    font-weight:normal;
    margin-top:8px;
}


#sub_but:hover{
    background: black;
    color:white;
    cursor:pointer;
}

#sub_but{
    width:100%;
    margin-top:10px;
    height:30px;
    margin-bottom:-20px;
    border-radius:20px;
    border:1px solid #e5e5e5;
    background:transparent;
}

.selection span:first-of-type{
    border:1px solid #e5e5e5;
    padding:5px 15px;
    border-radius:20px;
    width:100%;
    display:block;
}

.selection span:first-of-type:focus{
    padding:5px 15px;
    border-radius:20px;
    width:100%;
    border-width: 2px;
}

#div_id_country div:first-of-type,
#div_id_tags div:first-of-type,
#div_id_language div:first-of-type,
#div_id_mpa_rate div:first-of-type,
#div_id_genre div:first-of-type,
#div_id_productions div:first-of-type{
    margin-top:10px;
}

#div_id_country li,
#div_id_tags li,
#div_id_language li,
#div_id_mpa_rate li,
#div_id_genre li,
#div_id_productions li{
    background-color:black;
    color:white;
    border-radius:10px;
    font-size:12px;

}

#div_id_country ul span,
#div_id_tags ul span,
#div_id_language ul span,
#div_id_mpa_rate ul span,
#div_id_genre ul span,
#div_id_productions ul span {
    padding:5px;
    border:none;
    border-radius:8px;
}

#div_id_country ul button,
#div_id_tags ul button,
#div_id_language ul button,
#div_id_mpa_rate ul button,
#div_id_genre ul button,
#div_id_productions ul button {
    padding:0px 0px;
    align-items:Center;
    border:none;
    background-color:transparent;
    display:flex;
    align-items:Center;
}

.select2-search{
    border-radius:0px;
    margin:7px 0px;
    height:24px;
    font-size:12px;
    max-width:70%;
    border-bottom:1px solid #e5e5e5;
}

.selectmultiple{
    width:100%;
}

#div_id_prof_pic div{
    margin-top:10px;
    background-color:rgb(133, 133, 114);
}

#div_id_prof_pic br{
    display:none;
}


.img_cont{
    margin-top:10px;
    height:160px;
    width:108px;
    border:2px solid #e5e5e5;
    margin-bottom:0px;
    overflow:hidden;
    border-radius:10px;
}

img {
    min-width:100%;
    min-height:100%;
    height:100%;
    width:auto;
}

input[type=file]{
    border: 1px solid #e5e5e5;
}

